// avatar on posts
.details .display-pic__container {
	margin-right: $xxs-size;
}

// avatar on posts & on navbar
.display-pic__container {
	width: $l-size;
	height: $l-size;
	border-radius: 50%;
	flex-shrink: 0;
	overflow: hidden;
	.display-pic {
		max-width: 100%;
		object-fit: cover;
	}
}

// avatar on profile pages
.content-container .ui.large.header .display-pic__container {
	width: 12rem;
	height: 12rem;
	border-radius: 50%;
	margin-left: 0;
	flex-shrink: 0;
	overflow: hidden;
	margin-left: $xs-size;
	@media (min-width: $mobile-breakpt) {
		width: 10rem;
		height: 10rem;
		margin-left: $xs-size;
	}
	.display-pic {
		max-width: 100%;
		object-fit: cover;
	}
}
