// avatar on posts
.details .display-pic__container {
	margin-right: $xxs-size;
}

// avatar on posts & on navbar
.display-pic__container {
	width: $l-size;
	height: $l-size;
	border-radius: 50%;
	flex-shrink: 0;
	overflow: hidden;
	.display-pic {
		max-width: 100%;
		object-fit: cover;
	}
}

// avatar on profile pages
.content-container .ui.large.header .display-pic__container {
	width: $xl-size;
	height: $xl-size;
	border-radius: 50%;
	flex-shrink: 0;
	margin-left: $xs-size;
	overflow: hidden;
	@media (min-width: 450px) {
		width: $xxl-size;
		height: $xxl-size;
	}
	.display-pic {
		max-width: 100%;
		object-fit: cover;
	}
}

.cropper {
	position: relative;
	height: 500px;
	width: 500px;
}