.content-container {
	margin: $s-size auto 0;
	width: 100%;
	@media (min-width: $mobile-breakpt) {
		width: 95%;
	}
	@media (min-width: $tablet-breakpt) {
		width: 60%;
	}
	@media (min-width: $desktop-breakpt) {
		width: 45%;
	}
}
