.user-form {
	margin: $xl-size auto 0;
	width: 95%;
	@media (min-width: $sm-mobile-breakpt) {
		width: 70%;
	}
	@media (min-width: $tablet-breakpt) {
		width: 40%;
	}
	@media (min-width: $desktop-breakpt) {
		width: 30%;
	}
	.ui.divider {
		margin-top: $xxs-size;
	}
}

.post-form {
	margin-top: $xl-size;
}
