// menu items
#navbar {
    margin-bottom: 5.2rem;
    .item {
        border: none;
    }
    .item.desktop {
        display: none;
        @media (min-width: $mobile-breakpt) {
            display: flex;
        }
    }
    .item.mobile {
        display: flex;
        @media (min-width: $mobile-breakpt) {
            display: none;
        }
    }
    .menu {
        background: $dark;
    }
    .navbar__avatar {
        padding: 0.6rem $xs-size;
    }

// mobile menu modal
    .mobile-menu {
        background: $dark;
        color: $off-white;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 48.3px;
        width: 100%;
        transition: height 1s ease-in-out;
        @media (min-width: $mobile-breakpt) {
            display: none;
        }
    }
}