#page-header {
	.page-header__content {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		margin: 0 $s-size;
		font-size: $l-size;
		@media (min-width: $mobile-breakpt) {
			flex-direction: row;
			justify-content: space-between;
		}
	}
}
