// page header placeholder
#placeholder__page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 $m-size;
	.placeholder__line {
		display: inline-block;
		width: 10rem;
		@media (min-width: $sm-mobile-breakpt) {
			width: 15rem;
		}
		.long.line {
			height: 0;
			margin-top: 1rem;
		}
	}
	.placeholder__square {
		display: inline-block;
		width: $xl-size;
		border-radius: 50%;
		overflow: hidden;
	}
}

// posts placeholders
#placeholder__posts {
	margin-bottom: 1rem;
	.ui.placeholder:first-child {
		max-width: 100%;
		.header .line {
			margin-top: $s-size;
		}
	}
	.ui.placeholder:last-child {
		max-width: 100%;
		.placeholder__square {
			display: inline-block;
			width: $l-size;
			border-radius: 50%;
			overflow: hidden;
		}
	}
}
