// page header placeholder
#placeholder__page-header {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	margin: 0 $m-size;
	@media (min-width: $mobile-breakpt) {
		flex-direction: row;
		justify-content: space-between;
	}
	.placeholder__line {
		display: inline-block;
		width: 12rem;
		@media (min-width: $sm-mobile-breakpt) {
			width: 15rem;
		}
		.long.line {
			height: 0;
			margin-top: $xs-size;
		}
	}
	.placeholder__square {
		display: inline-block;
		width: 12rem;
		border-radius: 50%;
		overflow: hidden;
		margin-bottom: 1rem;
		@media (min-width: $mobile-breakpt) {
			width: 10rem;
			height: 10rem;
		}
	}
}

// posts placeholders
#placeholder__posts {
	margin-bottom: $xs-size;
	.ui.placeholder:first-child {
		max-width: 100%;
	}
	.ui.placeholder:last-child {
		max-width: 100%;
		.placeholder__square {
			display: inline-block;
			width: $l-size;
			border-radius: 50%;
			overflow: hidden;
		}
	}
}

// current user avatar
.placeholder__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.placeholder__square {
		display: inline-block;
		width: $l-size;
		border-radius: 50%;
		overflow: hidden;
	}
}
