.post-list__header {
	display: flex;
	flex-direction: column;
	word-break: break-word;
	.links {
		line-height: $m-size;
		text-align: center;
		font-size: $xs-size;
		@media (min-width: $mobile-breakpt) {
			text-align: left;
		}
	}
}

#post-list__post {
	@media (max-width: $tablet-breakpt) {
		padding: 0.8rem 0.8rem $xxs-size 0.8rem;
	}
	&:last-child {
		margin-bottom: $s-size;
	}
	.header {
		word-wrap: break-word;
		font-size: $l-size;
		color: $accent;
		a {
			color: $accent;
			&:hover {
				color: $accent-alt;
			}
		}
	}
	.post-body {
		margin: $xs-size 0 $xxs-size;
		word-wrap: break-word;
		white-space: pre-wrap;
		.image {
			margin: 0;
			img {
				max-width: 100%;
			}
		}
		blockquote {
			overflow-x: scroll;
			white-space: nowrap;
			color: white;
			margin-left: 0;
			margin-right: 0;
			border-radius: 7px;
			background: #222231;
			padding: 1rem 1rem 0.6rem 1rem;
			font-family: monospace;
			font-size: 0.8rem;
		}
	}
	.divider {
		margin: $m-size 0 $xxs-size 0;
	}
	.details {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.date {
			color: $med;
		}
		.links {
			display: flex;
			align-items: center;
		}
	}
}

.content-container {
	.no-posts {
		display: flex;
		height: 35vh;
		justify-content: center;
		align-items: center;
	}
}
