body {
    height: auto !important;
}

// header & hamburger menu

.Header {
    margin-bottom: 5.2rem;
}

div.ui.inverted.menu {
    .item {
        border: none;
    }
    .item.desktop {
        display: none;
        @media (min-width: 550px) {
            display: flex;
        }
    }
    .item.mobile {
        display: flex;
        @media (min-width: 550px) {
            display: none;
        }
    }
    .item .display-pic {
        width: 2.5rem !important;
        height: 2.5rem;
        margin-right: 0.4rem;
        object-fit: cover;
        border-radius: 50%;
    }
}

.mobile-menu {
    background: rgb(27, 28, 29);
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 48.3px;
    width: 100%;
    transition: height 1s ease-in-out;
    @media (min-width: 550px) {
        display: none;
    }
}

.content-container {
    margin: 1.5rem auto 0;
    width: 95%;
    @media (min-width: 700px) {
        width: 60%;
    }
    @media (min-width: 1000px) {
        width: 45%;
    }
    .ui.large.header .display-pic {
        width: 6rem;
        height: 6rem;
        object-fit: cover;
        border-radius: 50%;
        @media (min-width: 600px) {
            width: 8rem;
            height: 8rem;
        }
    }
    .ui.large.header {
        &.page-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 1.5rem;
            font-size: 2.5rem;
        }
        &.no-flex {
            display: flex;
            justify-content: space-between;
            margin: 0 1.5rem;
        }
    }
    .no-posts {
        display: flex;
        height: 35vh;
        justify-content: center;
        align-items: center;
    }
    .placeholder__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 2rem;
        .placeholder__line {
            display: inline-block;
            width: 8rem;
            @media (min-width: 450px) {
                width: 15rem;
            }
            .long.line {
                height: 0;
                margin-top: 1rem;
            }
        }
        .placeholder__square {
            display: inline-block;
            width: 6rem;
            @media (min-width: 600px) {
                width: 8rem;
            }
        }
    }
}

// post

.ui.main.text.container.clearing.raised.segment {
    margin: 5em auto 0;
    @media (min-width: 700px) {
        width: 50%;
    }
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .date {
        color: #7e7e7e;
    }
    .display-pic {
        width: 2.5rem !important;
        height: 2.5rem;
        margin-right: 0.4rem;
        object-fit: cover;
        border-radius: 50%;
    }
    .links {
        display: flex;
        align-items: center;
    }
}

.links {
    color: #00b5ad;
    &:hover {
        color: #00706b;
    }
}

.links__profile {
    display: flex;
    flex-direction: column;
    .links {
        font-size: 12px;
    }
}

div .ui.divider {
    margin: 2rem 0 0.5rem 0;
}

// post form

.ui.raised.segment.container {
    .post-body {
        margin: 1em 0 0.5em;
        word-wrap: break-word;
        white-space: pre-wrap;
    }
    .header {
        word-wrap: break-word;
    }

    &:last-child {
        margin-bottom: 1.5rem;
    }
    &.post-list__post {
        padding-bottom: 0.5rem;
    }
}

.post-form {
    margin-top: 6rem;
}

// loader

.loader {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader__image {
    width: 20rem;
}

// user form

.user-form {
    margin: 6rem auto 0;
    width: 95%;
    @media (min-width: 450px) {
        width: 70%;
    }
    @media (min-width: 700px) {
        width: 40%;
    }
    @media (min-width: 1000px) {
        width: 30%;
    }
    .ui.divider {
        margin-top: 0.5rem;
    }
}

// other
