// COLORS
$dark: rgb(27, 28, 29);
$med: #7e7e7e;
$light: #cacccd;
$off-white: rgba(255, 255, 255, 0.9);
$accent: #00b5ad;
$accent-alt: #00706b;

// SPACING
$xxs-size: 0.5rem;
$xs-size: 1rem;
$s-size: 1.5rem;
$m-size: 2rem;
$l-size: 2.5rem;
$xl-size: 6rem;
$xxl-size: 8rem;

// DEVICE BREAKPOINTS
$desktop-breakpt: 62.5rem;
$tablet-breakpt: 43.75rem;
$mobile-breakpt: 34.375rem;
$sm-mobile-breakpt: 28.125rem;
