// COLORS
$dark:#2e2b3b;
$dark-alt: #5a5766;
$med: #7e7e7e;
$light: #cacccd;
$off-white: rgba(255, 255, 255, 0.9);
$accent: #61e786;
$accent-alt: darken($accent, 20%);
$pop: #9792e3;
$pop-alt: darken($pop, 20%);


// SPACING
$xxs-size: 0.5rem;
$xs-size: 1rem;
$s-size: 1.5rem;
$m-size: 2rem;
$l-size: 2.5rem;
$xl-size: 6rem;
$xxl-size: 8rem;

// DEVICE BREAKPOINTS
$desktop-breakpt: 62.5rem;
$tablet-breakpt: 43.75rem;
$mobile-breakpt: 34.375rem;
$sm-mobile-breakpt: 28.125rem;
